---
BasedOnStyle: WebKit
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2

SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex:           '.*\/.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        4
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
...
