[submodule "dependencies/yaml-cpp-noboost"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = https://github.com/lsalzman/enet.git
[submodule "data"]
	path = data
	url = https://github.com/mmatyas/supermariowar-data
