name: Build - MacOS
on:
  workflow_call:

jobs:
  macos:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: brew install SDL2 SDL2_image SDL2_mixer

      - name: Configure
        run: cmake -B build -DUSE_SDL2_LIBS=ON -DUSE_PNG_SAVE=ON -DSMW_INSTALL_PORTABLE=ON -DDISABLE_DEFAULT_CFLAGS=ON

      - name: Build
        run: cmake --build build --verbose

      - name: Test
        run: ctest --test-dir build --output-on-failure

      - name: Package
        run: |
          cmake --install build --prefix supermariowar --strip
          rm -rf supermariowar/include supermariowar/lib
          zip -9 -r "supermariowar_$(date +%F)_macos.zip" supermariowar

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: supermariowar_macos
          path: supermariowar_*_macos.zip
